.container{
    display: block;
    margin: 0 auto;
}
ul{
    list-style: none;
    margin-left: 110px;
    font-size: 50px;
}

ul li{
    display: inline;
}

ul li a{
    text-decoration: none;
    color: black;
}